<link rel="stylesheet" href="/styles/card.css" />

<body>
  <div class="card">
    <img src="/assets/images/thumbnail.png" alt="Card Thumbnail" class="card-thumbnail" />
    <div class="card-content">
      <img src="/assets/images/User-Avatar.png" alt="Channel Thumbnail" class="channel-thumbnail" />
      <div class="card-data">
        <h3 class="card-title">Lorem ipsum dolor sit amet, consecte adipiscing elit.</h3>
        <div class="card-info">
          <span class="card-channel">Channel Name Channel Name Channel Name Channel Name Channel Name </span>
          <span class="card-views">1M views • 2 days ago</span>
        </div>
      </div>
    </div>
  </div>
</body>
