<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/card.css" />
    <title>Document</title>
  </head>
  <body>
    <!-- content 영역 -->
    <main class="content">
      <!-- 카드 리스트 컨테이너 -->
      <div class="cards-container">
        <!-- 개별 카드 -->
        <article class="card">
          <img class="card-thumbnail" src="/assets/images/thumbnail_youtube.png" alt="Video Thumbnail" />
          <div class="card-details">
            <img class="card-avatar" src="/assets/images/User-Avatar.png" alt="Channel Avatar" />
            <div class="card-data">
              <h3 class="card-title">Video Title Goes Here Video Title Goes Here Video Title Goes Here Video Title Goes Here</h3>
              <p class="card-channel">Channel Name Channel Name Channel Name Channel Name Channel Name Channel Name</p>
              <p class="card-stats">15K views · 1 week ago</p>
            </div>
          </div>
        </article>

        <article class="card">
          <img class="card-thumbnail" src="/assets/images/thumbnail_insta.png" alt="Video Thumbnail" />
          <div class="card-details">
            <img class="card-avatar" src="/assets/images/User-Avatar1.png" alt="Channel Avatar" />

            <div class="card-data">
              <h3 class="card-title">Video Title Goes Here</h3>
              <p class="card-channel">Channel Name</p>
              <p class="card-stats">15K views · 1 week ago</p>
            </div>
          </div>
        </article>

        <article class="card">
          <img class="card-thumbnail" src="/assets/images/thumbnail_netflix.png" alt="Video Thumbnail" />
          <div class="card-details">
            <img class="card-avatar" src="/assets/images/User-Avatar2.png" alt="Channel Avatar" />

            <div class="card-data">
              <h3 class="card-title">Video Title Goes Here</h3>
              <p class="card-channel">Channel Name</p>
              <p class="card-stats">15K views · 1 week ago</p>
            </div>
          </div>
        </article>

        <article class="card">
          <img class="card-thumbnail" src="/assets/images/thumbnail_discord.png" alt="Video Thumbnail" />
          <div class="card-details">
            <img class="card-avatar" src="/assets/images/User-Avatar3.png" alt="Channel Avatar" />

            <div class="card-data">
              <h3 class="card-title">Video Title Goes Here</h3>
              <p class="card-channel">Channel Name</p>
              <p class="card-stats">15K views · 1 week ago</p>
            </div>
          </div>
        </article>

        <article class="card">
          <img class="card-thumbnail" src="/assets/images/thumbnail_spotify.png" alt="Video Thumbnail" />
          <div class="card-details">
            <img class="card-avatar" src="/assets/images/User-Avatar.png" alt="Channel Avatar" />

            <div class="card-data">
              <h3 class="card-title">Video Title Goes Here</h3>
              <p class="card-channel">Channel Name</p>
              <p class="card-stats">15K views · 1 week ago</p>
            </div>
          </div>
        </article>

        <article class="card">
          <img class="card-thumbnail" src="/assets/images/thumbnail_tesla.png" alt="Video Thumbnail" />
          <div class="card-details">
            <img class="card-avatar" src="/assets/images/User-Avatar.png" alt="Channel Avatar" />

            <div class="card-data">
              <h3 class="card-title">Video Title Goes Here</h3>
              <p class="card-channel">Channel Name</p>
              <p class="card-stats">15K views · 1 week ago</p>
            </div>
          </div>
        </article>

        <article class="card">
          <img class="card-thumbnail" src="/assets/images/thumbnail_twitter.png" alt="Video Thumbnail" />
          <div class="card-details">
            <img class="card-avatar" src="/assets/images/User-Avatar3.png" alt="Channel Avatar" />

            <div class="card-data">
              <h3 class="card-title">Video Title Goes Here</h3>
              <p class="card-channel">Channel Name</p>
              <p class="card-stats">15K views · 1 week ago</p>
            </div>
          </div>
        </article>

        <article class="card">
          <img class="card-thumbnail" src="/assets/images/thumbnail_youtube.png" alt="Video Thumbnail" />
          <div class="card-details">
            <img class="card-avatar" src="/assets/images/User-Avatar3.png" alt="Channel Avatar" />
            <div class="card-data">
              <h3 class="card-title">Video Title Goes Here</h3>
              <p class="card-channel">Channel Name</p>
              <p class="card-stats">15K views · 1 week ago</p>
            </div>
          </div>
        </article>

        <article class="card">
          <img class="card-thumbnail" src="/assets/images/thumbnail_insta.png" alt="Video Thumbnail" />
          <div class="card-details">
            <img class="card-avatar" src="/assets/images/User-Avatar2.png" alt="Channel Avatar" />

            <div class="card-data">
              <h3 class="card-title">Video Title Goes Here</h3>
              <p class="card-channel">Channel Name</p>
              <p class="card-stats">15K views · 1 week ago</p>
            </div>
          </div>
        </article>

        <article class="card">
          <img class="card-thumbnail" src="/assets/images/thumbnail_netflix.png" alt="Video Thumbnail" />
          <div class="card-details">
            <img class="card-avatar" src="/assets/images/User-Avatar1.png" alt="Channel Avatar" />

            <div class="card-data">
              <h3 class="card-title">Video Title Goes Here</h3>
              <p class="card-channel">Channel Name</p>
              <p class="card-stats">15K views · 1 week ago</p>
            </div>
          </div>
        </article>

        <article class="card">
          <img class="card-thumbnail" src="/assets/images/thumbnail_discord.png" alt="Video Thumbnail" />
          <div class="card-details">
            <img class="card-avatar" src="/assets/images/User-Avatar1.png" alt="Channel Avatar" />

            <div class="card-data">
              <h3 class="card-title">Video Title Goes Here</h3>
              <p class="card-channel">Channel Name</p>
              <p class="card-stats">15K views · 1 week ago</p>
            </div>
          </div>
        </article>

        <article class="card">
          <img class="card-thumbnail" src="/assets/images/thumbnail_spotify.png" alt="Video Thumbnail" />
          <div class="card-details">
            <img class="card-avatar" src="/assets/images/User-Avatar2.png" alt="Channel Avatar" />

            <div class="card-data">
              <h3 class="card-title">Video Title Goes Here</h3>
              <p class="card-channel">Channel Name</p>
              <p class="card-stats">15K views · 1 week ago</p>
            </div>
          </div>
        </article>

        <article class="card">
          <img class="card-thumbnail" src="/assets/images/thumbnail_tesla.png" alt="Video Thumbnail" />
          <div class="card-details">
            <img class="card-avatar" src="/assets/images/User-Avatar2.png" alt="Channel Avatar" />
            <div class="card-data">
              <h3 class="card-title">Video Title Goes Here</h3>
              <p class="card-channel">Channel Name</p>
              <p class="card-stats">15K views · 1 week ago</p>
            </div>
          </div>
        </article>

        <article class="card">
          <img class="card-thumbnail" src="/assets/images/thumbnail_twitter.png" alt="Video Thumbnail" />
          <div class="card-details">
            <img class="card-avatar" src="/assets/images/User-Avatar2.png" alt="Channel Avatar" />

            <div class="card-data">
              <h3 class="card-title">Video Title Goes Here</h3>
              <p class="card-channel">Channel Name</p>
              <p class="card-stats">15K views · 1 week ago</p>
            </div>
          </div>
        </article>

        <article class="card">
          <img class="card-thumbnail" src="/assets/images/thumbnail_tesla.png" alt="Video Thumbnail" />
          <div class="card-details">
            <img class="card-avatar" src="/assets/images/User-Avatar2.png" alt="Channel Avatar" />

            <div class="card-data">
              <h3 class="card-title">Video Title Goes Here</h3>
              <p class="card-channel">Channel Name</p>
              <p class="card-stats">15K views · 1 week ago</p>
            </div>
          </div>
        </article>

        <article class="card">
          <img class="card-thumbnail" src="/assets/images/thumbnail_twitter.png" alt="Video Thumbnail" />
          <div class="card-details">
            <img class="card-avatar" src="/assets/images/User-Avatar3.png" alt="Channel Avatar" />

            <div class="card-data">
              <h3 class="card-title">Video Title Goes Here</h3>
              <p class="card-channel">Channel Name</p>
              <p class="card-stats">15K views · 1 week ago</p>
            </div>
          </div>
        </article>
      </div>
    </main>
  </body>
</html>
