<link rel="stylesheet" href="/styles/content.css" />
<div class="filter-bar">
  <button class="active">All</button>
  <button>Item</button>
  <button>Item</button>
  <button>Item</button>
  <button>Item</button>
  <button>Item</button>
  <button>Item</button>
  <button>Item</button>
  <button>Item</button>
  <button>Item</button>
  <button>Item</button>
  <button>Item</button>
  <button>Item</button>
  <button>Item</button>
  <button>Item</button>
  <button>Item</button>
  <button>Item</button>
  <button>Item</button>
  <button>Item</button>
  <button>Item</button>
  <button>Item</button>
  <button>Item</button>
  <button>Item</button>
  <button>Item</button>
  <button>Item</button>
  <button>Item</button>
  <button>Item</button>
  <button>Item</button>
  <button>Item</button>
  <button>Item</button>
  <button>Item</button>
  <button>Item</button>
  <button>Item</button>
  <button>Item</button>
  <button>Item</button>
  <button>Item</button>
  <button>Item</button>
  <button>Item</button>
  <button>Item</button>
  <button>Item</button>
  <button>Item</button>
</div>

<div id="card-ui">
  <div class="cards-container"></div>
  <p>테스트용 메세지</p>
</div>
<script type="module" src="/scripts/home.js"></script>
