<link rel="stylesheet" href="/styles/content.css" />
<div class="filter-bar-container">
  <button class="scroll-button left-scroll">&lt;</button>
  <ul class="filter-bar">
    <!-- <li class="filter-item"><button class="active">All</button></li>
    <li class="filter-item"><button>액션</button></li>
    <li class="filter-item"><button>코미디</button></li>
    <li class="filter-item"><button>드라마</button></li>
    <li class="filter-item"><button>SF</button></li>
    <li class="filter-item"><button>다큐멘터리</button></li> -->
  </ul>
  <button class="scroll-button right-scroll">&gt;</button>
</div>

<div id="card-ui">
  <div class="cards-container"></div>
  <p>비디오 목록 로딩중...</p>
</div>
<script type="module" src="/scripts/home.js"></script>
