<link rel="stylesheet" href="/styles/sidebar.css" />
<script type="module" src="/scripts/sidebar.js"></script>
<aside>
  <div class="sidebar-box" id="sidebar-home">
    <div class="sidebar-item">
      <img src="/assets/icons/sidebar/home-fill.svg" alt="Item Thumbnail" class="item-thumbnail" />
      <span class="item-title">Home</span>
    </div>
    <div class="sidebar-item">
      <img src="/assets/icons/sidebar/explore.svg" alt="Item Thumbnail" class="item-thumbnail" />
      <span class="item-title">Explore</span>
    </div>
    <div class="sidebar-item">
      <img src="/assets/icons/sidebar/subscriptions.svg" alt="Item Thumbnail" class="item-thumbnail" />
      <span class="item-title">Subscriptions</span>
    </div>
  </div>
  <div class="divider"></div>

  <div class="sidebar-box" id="sidebar-library">
    <div class="sidebar-item">
      <img src="/assets/icons/sidebar/library.svg" alt="Item Thumbnail" class="item-thumbnail" />
      <span class="item-title">Library</span>
    </div>
    <div class="sidebar-item">
      <img src="/assets/icons/sidebar/history.svg" alt="Item Thumbnail" class="item-thumbnail" />
      <span class="item-title">History</span>
    </div>
    <div class="sidebar-item">
      <img src="/assets/icons/sidebar/yourVideos.svg" alt="Item Thumbnail" class="item-thumbnail" />
      <span class="item-title">Your Videos</span>
    </div>
    <div class="sidebar-item">
      <img src="/assets/icons/sidebar/watchLater.svg" alt="Item Thumbnail" class="item-thumbnail" />
      <span class="item-title">Watch Later</span>
    </div>
    <div class="sidebar-item">
      <img src="/assets/icons/sidebar/liked.svg" alt="Item Thumbnail" class="item-thumbnail" />
      <span class="item-title">Liked Videos</span>
    </div>
    <div class="sidebar-item">
      <img src="/assets/icons/sidebar/arrowBottom.svg" alt="Item Thumbnail" class="item-thumbnail" />
      <span class="item-title">Show More...</span>
    </div>
  </div>
  <div class="divider"></div>

  <div class="sidebar-box" id="sidebar-subscriptions">
    <div class="sidebar-title">SUBSCRIPTIONS</div>
    <div class="subscribed-channel">
      <img src="/assets/images/User-Avatar.png" alt="Channel Thumbnail" class="channel-thumbnail" />
      <span class="side-channel-name">Channel Name</span>
    </div>
    <div class="subscribed-channel">
      <img src="/assets/images/User-Avatar.png" alt="Channel Thumbnail" class="channel-thumbnail" />
      <span class="side-channel-name">Channel Name</span>
    </div>
    <div class="subscribed-channel">
      <img src="/assets/images/User-Avatar.png" alt="Channel Thumbnail" class="channel-thumbnail" />
      <span class="side-channel-name">Channel Name</span>
    </div>
    <div class="subscribed-channel">
      <img src="/assets/images/User-Avatar.png" alt="Channel Thumbnail" class="channel-thumbnail" />
      <span class="side-channel-name">Channel Name</span>
    </div>
    <div class="sidebar-item">
      <img src="/assets/icons/sidebar/arrowBottom.svg" alt="Item Thumbnail" class="item-thumbnail" />
      <span class="item-title">Show More...</span>
    </div>
  </div>

  <div class="divider"></div>

  <div class="sidebar-box" id="sidebar-more">
    <div class="sidebar-title">MORE FROM YOUTUBE</div>
    <div class="sidebar-item">
      <img src="/assets/icons/sidebar/premium.svg" alt="Item Thumbnail" class="item-thumbnail" />
      <span class="item-title">Youtube Premium</span>
    </div>
    <div class="sidebar-item">
      <img src="/assets/icons/sidebar/gaming.svg" alt="Item Thumbnail" class="item-thumbnail" />
      <span class="item-title">Gaming</span>
    </div>
    <div class="sidebar-item">
      <img src="/assets/icons/sidebar/live.svg" alt="Item Thumbnail" class="item-thumbnail" />
      <span class="item-title">Live</span>
    </div>
    <div class="sidebar-item">
      <img src="/assets/icons/sidebar/sports.svg" alt="Item Thumbnail" class="item-thumbnail" />
      <span class="item-title">Sports</span>
    </div>
  </div>
  <div class="divider"></div>

  <div class="sidebar-box" id="sidebar-settings">
    <div class="sidebar-item">
      <img src="/assets/icons/sidebar/settings.svg" alt="Item Thumbnail" class="item-thumbnail" />
      <span class="item-title">Settings</span>
    </div>
    <div class="sidebar-item">
      <img src="/assets/icons/sidebar/report.svg" alt="Item Thumbnail" class="item-thumbnail" />
      <span class="item-title">Report history</span>
    </div>
    <div class="sidebar-item">
      <img src="/assets/icons/sidebar/help.svg" alt="Item Thumbnail" class="item-thumbnail" />
      <span class="item-title">Help</span>
    </div>
    <div class="sidebar-item">
      <img src="/assets/icons/sidebar/feedback.svg" alt="Item Thumbnail" class="item-thumbnail" />
      <span class="item-title">Send feedback</span>
    </div>
  </div>
  <div class="divider"></div>
</aside>
