<link rel="stylesheet" href="/styles/topbar.css" />
<header class="top-bar" style="visibility: hidden">
  <div class="left-section">
    <button class="menu-button">
      <img src="/assets/icons/topbar/hamburger.svg" alt="hamburger" />
    </button>
    <div class="youtube-logo">
      <a href="/index.html" class="logo" data-link>
        <img src="/assets/images/logo.png" alt="logo" />
      </a>
      <a href="/index.html" class="youtube" data-link>
        <img src="/assets/images/youtube.png" alt="youtube" />
      </a>
    </div>
  </div>
  <div class="middle-section">
    <div class="search-bar">
      <input type="text" id="search-bar-input" placeholder="검색" />
      <button class="search-button">
        <img src="/assets/images/search.png" alt="search" />
      </button>
      <!-- <button class="voice-search-button">
        <img src="/assets/images/mic-icon.png" alt="mic" />
      </button> -->
    </div>
  </div>
  <div class="right-section">
    <button class="upload-button">
      <img src="/assets/images/Create.png" alt="Create" />
    </button>
    <button class="apps-button">
      <img src="/assets/images/Apps.png" alt="Apps" />
    </button>
    <button class="notifications-button">
      <img src="/assets/images/Notifications.png" alt="Notifications" />
    </button>
    <button class="profile-button">
      <img src="/assets/images/User-Avatar.png" alt="Avatar" data-link href="/components/Channel_Page.html" />
    </button>
  </div>
</header>
<script src="/scripts/topbar.js"></script>
