<!DOCTYPE html>
<html lang="en" data-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ESTube</title>
    <link rel="icon" href="/assets/icons/index/favicon.svg" type="image/svg+xml" />
    <link rel="mask-icon" href="/assets/icons/index/favicon.svg" color="#000000" />
    <link rel="stylesheet" href="/styles/theme.css" />
    <link rel="stylesheet" href="/styles/video.css" />
  </head>
  <body>
    <div class="topbar" id="top-bar-container"></div>
    <div class="layout-wrapper">
      <div class="sidebar" id="side-bar-container"></div>
      <div class="video-page">
        <div class="video-container">
          <div class="video-player" style="visibility: hidden">
            <video></video>
          </div>
          <div class="video-info">
            <div class="video-tags">
              <button class="tag-button">#Item</button>
              <button class="tag-button">#Item</button>
              <button class="tag-button">#Item</button>
            </div>
            <div class="video-title">Video Title Goes Here</div>

            <div class="info">
              <div class="video-stats"><span id="view-count">15K</span> views · <span id="created-date">1 week ago</span></div>
              <div class="video-buttons">
                <div class="video-button" id="buttonLike">
                  <img class="button-icon" src="/assets/icons/video/Liked.svg" alt="Like" />
                  <span class="button-text">1.2K</span>
                </div>
                <div class="video-button" id="buttonDislike">
                  <img class="button-icon" src="/assets/icons/video/DisLiked.svg" alt="Dislike" />
                  <span class="button-text">654</span>
                </div>
                <div class="video-button" id="buttonShare">
                  <img class="button-icon" src="/assets/icons/video/Share.svg" alt="Share" />
                  <span class="button-text">SHARE</span>
                </div>
                <div class="video-button" id="buttonSave">
                  <img class="button-icon" src="/assets/icons/video/Save.svg" alt="Save" />
                  <span class="button-text">SAVE</span>
                </div>
                <div class="video-button" id="buttonMore">
                  <img class="button-icon" src="/assets/icons/video/More.svg" alt="More" />
                </div>
              </div>
            </div>
            <div class="divider"></div>
          </div>
          <div class="video-description">
            <div class="channel-title">
              <div class="channel-profile">
                <img class="channel-avatar" src="/assets/images/User-Avatar48.png" alt="Channel Avatar" class="channel-avatar" />
                <div class="channel-info">
                  <div class="channel-name">Channel Name</div>
                  <div class="subscribers"><span>1M</span> subscribers</div>
                </div>
              </div>
              <span class="subscribe-button"> SUBSCRIBES </span>
            </div>
            <div class="description-text">
              Chris Fisher, also known as the Blind Woodturner, learned his craft by listening to hundreds of hours of YouTube videos and experimenting in his
              workshop. Now he’s a YouTube creator himself, sells his products worldwide, and does demonstrations all around the country.
            </div>
            <div class="show-more">SHOW MORE</div>
            <div class="divider"></div>
          </div>
          <div class="comment-section">
            <div class="comment-title">
              <div class="comment-count"><span class="count">111</span> <span>comments</span></div>
              <div class="sort-by">
                <img src="/assets/icons/video/Dropdown.svg" alt="sort by" />
                <span class="sort-text">SORT BY</span>
              </div>
            </div>
            <div class="comment-field">
              <img src="/assets/images/User-Avatar.png" alt="user avatar" class="user-avatar" />
              <input type="text" placeholder="댓글 추가..." />
            </div>
            <div class="comments-list">
              <div class="comment"></div>
            </div>
          </div>
        </div>
        <div class="video-secondary">
          <div class="secondary-tags">
            <button class="secondary-button">All</button>
            <button class="secondary-button">Item</button>
            <button class="secondary-button">Item</button>
            <button class="secondary-button">Item</button>
          </div>
          <div class="secondary-list">
            <div class="secondary-video">
              <div class="secondary-thumbnail"><span class="secondary-videoTime">--:--</span></div>
              <div class="secondary-video-text">
                <span class="secondary-video-title">Video Title Video Title Video Title Video Title </span>
                <span class="secondary-video-channel"> Channel Name </span>
                <span class="secondary-video-info">1M views 3years ago</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script type="module" src="/scripts/theme-toggle.js"></script>
    <script type="module" src="/scripts/video.js"></script>
    <script type="module" src="/scripts/topbar.js"></script>
    <script type="module" src="/scripts/sidebar.js"></script>
    <script type="module" src="/scripts/videoPlayer.js"></script>
  </body>
</html>
