body {
  margin: 0;
  padding: 0;
}
aside {
  max-width: 240px;
  background-color: #212121;
  color: #fff;
  font-weight: 300;
}
.sidebar-box {
  padding: 12px 0px;
}
.sidebar-item,
.subscribed-channel {
  display: flex;
  align-items: center;
  padding: 8px 24px;

  gap: 24px;
  cursor: pointer;
  transition: transform 0.3s;
}

.sidebar-item:hover,
.subscribed-channel:hover {
  background-color: #303030;
}

.item-thumbnail,
.channel-thumbnail {
  width: 24px;
  height: 24px;
}
.item-title {
  font-size: 16px;
}

.channel-thumbnail {
  border-radius: 50%;
}

.sidebar-title {
  padding: 8px 24px;
  color: #aaaaaa;
  font-weight: 700;
}

.divider {
  height: 1px;
  background-color: #303030;
}
