* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: var(--bg-card);
  font-family: Arial, Helvetica, sans-serif;
  color: var(--text-primar);
}

/* 상단바 전체 */
header.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  padding: 0 16px;
  height: 56px;
  background: var(--bg-topbar);
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* 왼쪽 섹션 (햄버거 + 로고) */
.top-bar .left-section {
  display: flex;
  align-items: center;
  gap: 10px;
}
.left-section .menu-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
}

.left-section .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 18px 14px 18px 16px;
}

.menu-button {
  width: 40px;
  height: 40px;
  background: var(--bg-topbar);
  border: none;
  cursor: pointer;
}
.menu-button img {
  width: 24px;
  height: 24px;
}
.logo img {
  height: 24px;
}

/* 가운데 검색 섹션 */
.top-bar .middle-section {
  flex: 1;
  display: flex;
  justify-content: center;
}
.search-bar {
  display: flex;
  width: 60%;
  max-width: 470px;
}
.search-bar input {
  flex: 1;
  height: 40px;
  background: var(--bg-search-inpu);
  border: 1px solid var(--border-search-input);
  color: var(--text-primar);
  padding: 6px 2px 6px 12px;
  border-radius: 15px 0 0 15px;
  font-size: 14px;
}
.search-bar .search-button {
  width: 60px;
  height: 40px;
  background: var(--bg-search-button);
  border: none;
  border-radius: 0 15px 15px 0;
  cursor: pointer;
  padding: 2px 7px 2px 7px;
}

.search-bar .voice-search-button {
  width: 40px;
  height: 40px;
  margin-left: 8px;
  background: var(--bg-voice-button);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.voice-search-button img {
  width: 100%;
  height: 100%;
}

/* 오른쪽 섹션 (아이콘들) */
.top-bar .right-section {
  display: flex;
  align-items: center;
  gap: 14px;
  padding-right: 10px;
}
.right-section button {
  width: 40px;
  height: 40px;
  background: var(--bg-topbar);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.right-section button img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
