/* 비디오 컨트롤 */
.video-controls {
  position: absolute;
  height: 15%;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 10px 10px 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  opacity: 0;
  background: linear-gradient(var(--video-gradient-start), var(--video-gradient-end));
  transition: opacity 0.3s ease-in-out;
}

.video-player:hover .video-controls {
  opacity: 1; /* 🎯 마우스 hover 시 나타나도록 설정 */
}

.controls-left,
.controls-right {
  display: flex;
  gap: 10px;
  align-items: center;
}

#playPauseBtn,
#volumeBtn,
#speedBtn,
#pipBtn,
#fullscreenBtn {
  width: 32px;
  height: 32px;
  background-color: var(--video-control-bg);
  color: var(--text-primary);
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.volume-wrapper {
  display: flex;
  padding: 0;
  gap: 10px;
}

.volume-wrapper input {
  display: none; /* 🎯 볼륨 컨트롤 숨김 */
  background: linear-gradient(to right, var(--volume-stop1) 0%, var(--volume-stop2) 25%, var(--volume-stop3) 50%, var(--volume-stop4) 50%);
  width: 96px;
}

/* 슬라이더 핸들(thumb) 스타일 */
.volume-wrapper input::-webkit-slider-thumb {
  background: var(--bg-filter-active);
  border: 2px solid var(--volume-stop1);
}

.volume-wrapper input::-moz-range-thumb {
  background: var(--bg-filter-active);
  border: 2px solid var(--volume-stop1);
}

.volume-wrapper:hover input {
  display: flex; /* 🎯 볼륨 컨트롤 펼침 */
  justify-content: center;
  align-self: center;
}

.speed-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.speed-options {
  position: absolute;
  top: -175%; /* ⚡ speedBtn 위쪽에 배치 */
  left: 50%;
  transform: translateX(-50%);
  display: none; /* 🎯 기본적으로 숨김 */
  flex-direction: column;
  background: var(--gradient-control-end);
  padding: 5px;
  border-radius: 5px;
}

.speed-options button {
  color: var(--text-primary);
  background: none;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.speed-options button:hover {
  background: var(--speed-options-btn);
}

#progressBar {
  width: calc(100%-20px);
  position: absolute;
  bottom: 45px; /* 🎯 버튼 위쪽 배치 */
  left: 10px;
  right: 10px;
  background-color: var(--bg-progressBar);
}

/* 슬라이더 핸들(thumb) 스타일 */
#progressBar::-webkit-slider-thumb {
  background: var(--bg-filter-active);
  border: 2px solid var(--bg-subscribe-btn);
}

#progressBar::-moz-range-thumb {
  background: var(--bg-filter-active);
  border: 2px solid var(--bg-subscribe-btn);
}

input[type="range"] {
  -webkit-appearance: none; /* 기본 스타일 제거 (크롬, 사파리) */
  appearance: none; /* 다른 브라우저에서도 기본 스타일 제거 */
  height: 4px; /* 슬라이더 높이 */
  border-radius: 5px;
  cursor: pointer;
}

/* 슬라이더 핸들(thumb) 스타일 */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  cursor: pointer;
}
